{{define "lanes"}}
<lane-reel>
    {{range .}}
    <task-lane>
        <task-lane-header>
            <h2>{{ .Name  }}{{ if .Count}} ({{ .Count  }}){{end}}</h2>

            {{ template "new-task" .Slug}}

            <hr>
        </task-lane-header>

        <task-lane-body>{{ range .Tasks }}
            <task-l id="{{ .ID }}">
                <task-header>
                    <h3>{{ .Title }}</h3>
                </task-header>

                <task-body>
                    {{ .DescriptionHTML }}

                    {{ range .Tags }}
                    <span>{{ . }}</span>
                    {{ end }}
                </task-body>

                <task-footer>
					<div class="actions">
						{{range .GetAvailableActions "view"}}
							<a href="{{ .Action }}">{{ .Label }}</a>
						{{ end }}
					</div>

					<div class="priority">{{ range .Priority }}!{{ end }}</div>
                </task-footer>
            </task-l>
        {{end}}</task-lane-body>
    </task-lane>
    {{end}}
</lane-reel>
{{end}}
