{{define "base"}}
<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" >
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="color-scheme" content="dark light">

		<title></title>

		<link rel="stylesheet" href="/static/app.css">
		<link rel="manifest" href="/manifest.json">
		<script type="importmap">
			{
				"imports": {
			      "mnemonics.js": "/static/mnemonics.js",
				  "filter.js": "/static/filter.js",
				  "task-card.js": "/static/task-card.js",
				  "task-lane.js": "/static/task-lane.js",
				  "confirm-dialog.js": "/static/confirm-dialog.js",
				  "task-dialog.js": "/static/task-dialog.js",
				  "info-dialog.js": "/static/info-dialog.js"
				}
			  }
		</script>
		<script type="module" src="/static/app.js"></script>
		<script type="module">
			if ('serviceWorker' in navigator) {
				try {
					const registration = await navigator.serviceWorker.register('/static/sw.js')
				} catch (err) {
					console.error('Error during service worker registration:', e);
				}
			}
		</script>
	</head>
	<body>
		<div class="backdrop"></div>

		<application-header>
			{{ template "info-dialog" . }}
			<h1>ProjectSpy</h1>
			{{ template "filter" . }}
		</application-header>

		<application-wrapper>
			<main>
				{{ if .TaskLanes }}
					{{template "lanes" .TaskLanes }}
				{{ end }}
			</main>
		</application-wrapper>

		{{if .ShowTask}}
			{{template "task" .CurrentTask}}
		{{end}}

		{{if .ShowConfirm}}
			{{template "confirm-dialog" .Confirm}}
		{{end}}

		{{ if .ShowError }}
			{{template "error-dialog" .ErrorDialog}}
		{{end}}
	</body>
</html>
{{end}}
